body, html {
    margin : 0;
    min-width: 830px;
}

ul {
    margin: 0;
}

.container {
    max-width: 1200px;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
}

#sidebar-column {
    min-width: 122px;
    max-width: 190px;
}

.sidebar-contents {
    list-style-type: none;
    margin-top: 30px;
}

#corner-block {
    background: #313131;
    height: 54px;
}

#name {
    margin: 0.1rem 0 0.6rem;
}

.header {
    margin-top: 19px;
}

.header h2 {
    color: #fb6066;
}

#me-pic {
    margin-top: -45px;
}

#me-pic img {
    border-radius: 50%;
    width: 85%;
}

.subtitle {
    color: #444;
}
