<head>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
  <script src="js/luminous.js"></script>
</head>

<body>
  <div class="container">
    <div class="columns">
      <div class="column col-2" id="sidebar-column">
        <div id="corner-block"></div>
        <div class="text-center" id="me-pic">
          <img src="img_avatar.png">
        </div>
        <div id="name" class="h4 text-center">Braden Polly</div>
        <ul class="sidebar-contents text-right">
          <li class="divider" data-content="PROJECTS"></li>
          <li class="menu-item">
            <a href="sportcasts" class="{% if page.path == 'sportcasts.html' %}active-page{% endif %}">
              Sportcasts
            </a>
          </li>
          <li class="menu-item">
            <a href="vttr" class="{% if page.path == 'vttr.html' %}active-page{% endif %}">
              Vim-TTR
            </a>
          </li>
          <li class="menu-item">
            <a href="stm" class="{% if page.path == 'stm.html' %}active-page{% endif %}">
              Spotify Time Machine
            </a>
          </li>
          <li class="menu-item">
            <a href="nflvf" class="{% if page.path == 'nflvf.html' %}active-page{% endif %}">
              NFL Video Finder
            </a>
          </li>
          <br>
          <li class="divider" data-content="PROFILES"></li>
          <li class="menu-item"><a href="https://github.com/bpolly">GitHub</a></li>
          <li class="menu-item"><a href="https://www.linkedin.com/in/bpolly">LinkedIn</a></li>
        </ul>
      </div>
      <div class="column">
        {{ content }}
      </div>
    </div>
  </div>
</body>
