<head>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather|Noticia+Text|Source+Serif+Pro" rel="stylesheet"> -->
</head>

<body>
  <div class="container">
    <div class="columns">
      <div class="column col-2" id="sidebar-column">
        <div id="corner-block"></div>
        <div class="text-center" id="me-pic">
          <img src="img_avatar.png">
        </div>
        <div id="name" class="h4 text-center">Braden Polly</div>
        <ul class="sidebar-contents">
          <li class="divider" data-content="PROFILES"></li>
          <li class="menu-item"><a href="#menus">GitHub</a></li>
          <li class="menu-item"><a href="#menus">LinkedIn</a></li>
          <br>
          <li class="divider" data-content="PROJECTS"></li>
          <li class="menu-item"><a href="sportcasts">Sportcasts</a></li>
          <li class="menu-item"><a href="vttr">Vim-TTR</a></li>
          <li class="menu-item"><a href="stm">Spotify Time Machine</a></li>
          <li class="menu-item"><a href="nflvf">NFL Video Finder</a></li>
        </ul>
      </div>
      <div class="column">
        <div class="header text-center">
          <h2>{{ page.title }}</h2>
          <div class="divider"></div>
          <h5 class="subtitle">{{ page.subtitle }}</h5>
          <div class="divider"></div>
        </div>

        <br>

        <div id="content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</body>
